php_flag magic_quotes_gpc 0
php_flag magic_quotes_runtime 0
php_flag magic_quotes_sybase 0
php_value register_globals 0
php_value output_buffering 1
php_value session.use_trans_sid 0
php_value session.cookie_lifetime 0
php_value zlib.output_compression 4096
php_value zlib.output_compression_level 5
php_value arg_separator.output "&amp;"
php_value date.timezone "Europe/London"

DirectoryIndex index.php
AddDefaultCharset UTF-8
Options -Indexes

<Files ~ ".tpl">
order allow,deny
deny from all
</files>

RewriteEngine on

RewriteRule ^admin$ index.php?action=admin [L,QSA]
RewriteRule ^admin/$ index.php?action=admin [L,QSA]
RewriteRule ^admin/d/(.*)/([0-9]+)/$ index.php?action=admin&delete=$1&id=$2 [L,QSA]

AddType text/vnd.wap.wml;charset=utf-8 .wml
AddType application/vnd.sonyericsson.mms-template tpl
AddType application/vnd.wap.wmlc .wmlc
AddType text/vnd.wap.wmlscript .wmls
AddType application/vnd.wap.wmlscriptc .wmlsc
AddType image/vnd.wap.wbmp .wbmp
AddType application/vnd.eri.thm .thm
AddType application/vnd.mophun.application .mpn
AddType application/vnd.mophun.certificate .mpc
AddType text/vnd.sun.j2me.app-descriptor .jad
AddType text/x-vmel .mel
AddType audio/imelody .imy
AddType application/vnd.smaf .mmf
AddType text/x-vmel .emy
AddType audio/amr .amr
AddType audio/x-wav .wav
AddType application/x-tar .hid
AddType image/jpeg .jpg
AddType image/jpeg .jpeg
AddType image/gif .gif
AddType image/png .png
AddType image/bmp .bmp
AddType text/x-imelody .imy
AddType text/x-emelody .emy
AddType text/x-vcard .vcf
AddType text/x-vcalendar .vcs
AddType text/calendar .ics
AddType application/smil .smil
AddType application/smil .smi
AddType application/java-archive .jar
AddType application/vnd.symbian.install .sis
AddType audio/wav .wav
AddType audio/midi .midi
AddType audio/midi .mid
AddType audio/rmf .rmf
AddType application/vnd.wap.mms-message .mms
AddType video/mp4 .mp4
AddType video/3gpp .3gp